# -------------------------
# Frontend
# -------------------------
node_modules/
dist/
.env
.env.local

# -------------------------
# Backend Secrets
# -------------------------
backend/.env

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
.venv/
venv/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Editor & OS
# -------------------------
.vscode/
.DS_Store